.bg-container {
  background-image: url('assets/bg.png'); /* Change l'URL selon ton image */
  background-size: cover;  /* Remplit tout l'écran */
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;  /* Largeur totale de l'écran */
  height: 100vh; /* Hauteur totale de l'écran */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}